{{#each game}}
	<div class="column">
		<div class="category">{{@key}}</div>
		{{#each this}}
		<div class="clue" data-category="{{@../key}}" data-index="{{@index}}">
			<span class="dollar">
				{{this.value}}
			</span>
		</div>
		{{/each}}
	</div>
{{/each}}
