<div class="report">
	<div>Game Over</div>
	<div>
		<span> Percent Correct: </span><span>{{percentCorrect}} %</span>
	</div>
	<div>
		<span> Largest Wager: </span><span class="dollar">{{largestWager}} </span>
	</div>
</div>

