body{
	font-size: 100%; /*browser default; user might have changed it. Set to 16px here instead?? */
	background-color: #efefef;
	font-family: 'Open Sans', sans-serif;
}

ul{
	list-style: none;
	padding-left: 0;
}

.error{
	color: #ff3b3f;
}

.faded{
	opacity: 0.5;
}

.none{
	display: none !important;
}

.hidden{
	visibility: hidden !important;
}



.button-standout{
	color: white;
	background-color: #ff3b3f;
	border-radius: 10px;
	cursor: pointer;
	padding: 0.3em;
}

.input-has-icon{
	position: relative;	
}


.input-has-icon .icon{
	position: absolute;
	left: 3px;
	top: 10px;
	height: 15px;
	width: 15px;
}

.input-has-icon input[type="text"]{
	width: 100%;
	text-indent: 20px;
}


.flipper{
	position: relative;
	transform-style: preserve-3d;
	perspective: 1000px;
	transition: transform 0.6s linear;
}

.flipper .front, .flipper .back{
		position: absolute;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
}

.flipper .front{
	transform: rotateY(0deg);
	transform: rotateX(0deg);
}

.flipper .back{
	transform: rotateX(0deg);
	transform: rotateY(180deg);
}

.flipper.flipped{
	transform: rotateY(180deg);
}

.logo{
	color: #ff3b3f;
}

 #content{
	max-width:1024px;
	margin: 0 auto;
	text-align: center;
	/*MIN DIMENSIONS*/
}

#game-message{
	position: fixed;
	left: 0;
	right: 0;
	top: 100px;
	width: 45%;
	min-height: 100px;
	display: none;
	margin: 0 auto;
	background-color: #00032D;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 0 0 5px;
	color: white;
	padding: 5px;
	box-sizing: border-box;
	z-index: 9999;
}


#game-message.open{
	animation: slide-down 0.2s linear;
	display: block;
}


#game-message div:nth-child(1){
	font-size: 1.7em;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 1px solid red;
	margin-bottom: 25px;
	padding-bottom: 8px;
	display: inline-block;
}

#game-message div:nth-child(2){
	font-size: 1.3em;
}

#spinner{
	position: absolute;
	height: 100%;
	width: 100%;
	display: none;
	z-index: 1;
}

#spinner > img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 33%;
	width: 33%;
}

#spinner:before{
	z-index: -1;
	content: '';
	position: absolute;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	background-color: gray;
}

#spinner.visible{
	display: block;
}

#top{
	height: 100px;
	background-color: white;
	border-bottom: 1px solid black;
}

#top>.logo{
	float: left;
	margin-left: 1em;
}

#intro{
	text-align: center;
	font-size: 1.5em;
	margin: 0 auto;
	max-width: 350px;
	color: #00334d;
}

#intro-welcome{
	font-size: 1.8em;
	margin-bottom: 1em;
}


#intro > .button-standout{
	margin-top: 1em;
	font-size: 2em;
	width: 4em;
}


#score{
	font-size: 1.5em;
	color: #097054;
	display: inline-block;
	margin: 10px auto 10px auto;
}

#score:before{
	content: "Your score: $ ";
	color: black;
}

#score.negative{
	color: #ff3b3f;
}


#board-wrapper{
	position: relative;
	text-align: center;
	overflow: hidden;
}

#clue-window{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 0;
	background-color: #00334d;
	visibility: hidden;
	overflow: hidden;
	transition: none; /*so the expanding transition doesn't happen when 'open' class is removed*/

}

#dailydouble-window{
	position: fixed;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -20%;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	min-height: 250px;
	min-width: 250px;
	color: white;
	box-shadow: 5px 5px 5px black;
	z-index: 9999;
	visibility: hidden;
	transition: all 0.4s linear;
}


#dailydouble-window .back>span{
	font-size: 1.6em;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0 9px 5px 9px;
	border-bottom: 1px solid white;
}

#dailydouble-window label{
	width: 25%;
	display: inline-block;
	font-size: 1.3em;
	margin-right: 9px;
}

#dailydouble-window .input-has-icon{
	width: 33%;
	max-width: 100px;
	display: inline-block;
}

#dailydouble-wager{
	font-size: 1.2em;
	transition: box-shadow 0.2s linear;
}

#dailydouble-wager:focus{
	box-shadow: 0 0 3px 1px;
}

#dailydouble-err{
	font-size: 1em;
	width: 80%;
	/* line-height: 2em; */
	display: block;
	background-color: white;
	padding: 2px;
	box-sizing: border-box;
	margin-top: 4px;
	margin-left: auto;
	margin-right: auto;

}

#dailydouble-err:empty{
	visibility: hidden; /*keep taking up space do btn doesn't move */
}


#submit-wager{
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	background-color: #ff9900;
	font-size: 1.5em;
	padding: 0.3em;
	cursor: pointer;
	color: white;

}

#submit-wager:hover{
	background-color: #097054;
}

#dailydouble-window.flipped{
	visibility: visible;
}

#dailydouble-window .front{
	background-color: #d9d9d9;
}

#dailydouble-window .back{
	background-color: #0077b3;
}





#clue-window.open{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	visibility: visible;
	z-index: 9999;
	transition: height 0.2s linear, width 0.2s linear, top 0.2s linear, left 0.2s linear;
}

#clue-window-category{
	margin: 25px 0 35px 0;
	padding: 15px;
	display: inline-block;
	font-weight: bold;
	font-size: 1.4em;
	border-radius: 10px;
	color: white;
	background-color: #107896;
}

#clue-window-question{
	font-size: 1.2em;
	color: white;
	min-width: 300px; /*TODO: not needed? */
	width: 50%;
	margin: 0 auto;
}

#clue-window-answers{
	margin: 40px auto 0 auto;
	width: 50%;
	min-width: 300px;
}

#clue-window-answers > li{
	cursor: pointer;
	font-size: 1.3em;
	line-height: 2.6em;
	min-height: 45px;
	border: 2px solid grey;
	color: white;
	margin-top: 25px;
}

#clue-window-answers > li:hover{
	background-color: #ff3b3f;
	transform: scale(1.2);
}

#clue-window-answers > li.correct{
	color: green;
	border: 1px solid green;
}

#clue-window-answers > li.incorrect{
	color: red;
	border: 1px solid red;
}




#clue-window-timer{
	width: 75%;
	height: 45px;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	display: none;
}

#clue-window.open #clue-window-timer{
	/* display:block; */
	display: flex;
	justify-content: space-between;
}

#clue-window-timer>div{
	width: 10%;
	height: 100%;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 10px;
	opacity: 0.5;
	background-color: grey;
	animation: timer-active 1s steps(1) forwards;
}

#clue-window-timer>div[data-tick="0"]{
	animation-delay: 2s;
}

#clue-window-timer>div[data-tick="1"]{
	animation-delay: 3s
}

#clue-window-timer>div[data-tick="2"]{
	animation-delay:4s;
}

#clue-window-timer>div[data-tick="3"]{
	animation-delay:5s;
}



#clue-window-feedback{
	background-color: orange;
	width: 50%;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.6em;
}


#clue-window-feedback > div{
	display: none;
}

#clue-window-feedback > div.visible{
	display: block;
}

#clue-window-feedback .icon{
	display: inline-block;
	height: 64px;
	width: 64px;
	vertical-align: middle;
	background: url("/assets/answersprites.png") no-repeat;
	margin-right: 25px;
}

#clue-window-feedback .icon.check{
	background-position: 0 0;
}

#clue-window-feedback .icon.ex{
	background-position: 0 -64px;
}

#clue-window-feedback .icon.clock{
	background-position: 0 -128px;
}


#close-clue{
	font-size: 1.6em;
	margin-top: 25px;
	visibility: hidden;
}

#close-clue.show{
	visibility: visible;
}


#board{
	text-align: center;
	border: 1px solid blue;
	box-sizing: border-box;
	width: 100%;
}

#board > .column{
	width: 100%;
	box-sizing: border-box;
	border-bottom: 2px solid black;
	overflow: auto;
}

.category{
	height: 70px;
	font-size: 1.4em;
	line-height: 2.8em;
	width: 100%;
	background-color: #00334d;
	color: white;
	box-sizing: border-box;
}

.clue{
	height: 70px;
	font-size: 1.4em;
	line-height: 2.8em;
	background-color: #efefef;
	float: left;
	display: inline-block;
	width: 20%;
	cursor: pointer;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	box-sizing: border-box;
}

.clue:hover{
	background-color: #ff3b3f;
	color: white;
}

.clue > span{
	opacity: 0; /* initially hidden. JS will reveal */
	pointer-events: none;
}

.clue.seen{
	cursor: auto;
	background-color: #d9d9d9;
}

.clue.seen > span{
	visibility: hidden;
}


@keyframes timer-active{
	0%{
		transform: scale(1.3);
		background-color: white;
		opacity: 1;
	}

	100%{
		transform: scale(1);
		background-color: grey;
	}
}

@keyframes slide-down{
	0%{
		transform: translateY(-100%);
	}

	100%{
		transform: translateY(0%);
	}
}
