body{
	font-size: 100%; /*browser default; user might have changed it. Set to 16px here instead?? */
	background-color: #efefef;
	font-family: 'Open Sans', sans-serif;
}

ul{
	list-style: none;
	padding-left: 0;
}

.hidden{
	visibility: hidden;
}


.button-standout{
	color: white;
	background-color: #ff3b3f;
	border-radius: 10px;
	cursor: pointer;
	padding: 0.3em;
}

.logo{
	color: #ff3b3f;
}

/*
 #content{
	max-width:1024px;
	}
	*/


#top{
	height: 100px;
	background-color: white;
	border-bottom: 1px solid black;
}

#top>.logo{
	float: left;
	margin-left: 1em;
}

#intro{
	text-align: center;
	font-size: 1.5em;
	margin: 0 auto;
	max-width: 350px;
	color: #00334d;
}

#intro-welcome{
	font-size: 1.8em;
	margin-bottom: 1em;
}


#intro > .button-standout{
	margin-top: 1em;
	font-size: 2em;
	width: 4em;
}


#board-wrapper{
	position: relative;
}

#clue-window{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 0;
	text-align: center;
	background-color: #00334d;
	visibility: hidden;
	transition: none; /*so the expanding transition doesn't happen when 'open' class is removed*/

}

#clue-window.open{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	visibility: visible;
	z-index: 9999;
	transition: all 0.2s linear;
}

#clue-window-category{
	margin: 25px 0 35px 0;
	padding: 15px;
	display: inline-block;
	font-weight: bold;
	font-size: 1.4em;
	border-radius: 10px;
	color: white;
	background-color: #107896;
}

#clue-window-question{
	font-size: 1.2em;
	color: white;
	min-width: 300px; /*TODO: not needed? */
	width: 50%;
	margin: 0 auto;
}

#clue-window-answers{
	margin: 40px auto 0 auto;
	width: 50%;
	min-width: 300px;
}

#clue-window-answers > li{
	cursor: pointer;
	font-size: 1.3em;
	line-height: 2.6em;
	min-height: 45px;
	border: 2px solid grey;
	color: white;
	margin-top: 25px;
}

#clue-window-answers > li:hover{
	background-color: #ff3b3f;
	transform: scale(1.2);
}

#clue-window-answers > li.correct{
	color: green;
	border: 1px solid green;
}

#clue-window-answers > li.incorrect{
	color: red;
	border: 1px solid red;
}

#clue-window-feedback > div{
	display: none;
}

#clue-window-feedback > div.visible{
	display: block;
}


#board{
	text-align: center;
	border: 1px solid blue;
	box-sizing: border-box;
	width: 100%;
}

#board > .column{
	width: 100%;
	box-sizing: border-box;
	border-bottom: 2px solid black;
	overflow: auto;
}

.category{
	height: 70px;
	font-size: 1.4em;
	line-height: 2.8em;
	width: 100%;
	background-color: #00334d;
	color: white;
	box-sizing: border-box;
}

.clue{
	height: 70px;
	font-size: 1.4em;
	line-height: 2.8em;
	background-color: #efefef;
	float: left;
	display: inline-block;
	width: 20%;
	cursor: pointer;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	box-sizing: border-box;
}

.clue:hover{
	background-color: #ff3b3f;
	color: white;
}

.clue > span{
	opacity: 0; /* initially hidden. JS will reveal */
	pointer-events: none;
}

.clue.seen{
	cursor: auto;
	background-color: #d9d9d9;
}

.clue.seen > span{
	visibility: hidden;
}


